<h1 class="text-center py-5">Your past and upcoming events created </h1>

<%= link_to  'Back', root_path %>

<h2 class="text-center text-muted"> Your Upcoming Events </h2>

<table class="table table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
      <th>Attendance expected</th>
      <th colspan="3"></th>
    </tr>
  </thead>

 <tbody>
    
    <%  @events.each do |event| %>

    <% if event.date >= Time.now %>

      <% if current_user %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <% if Time.now > event.date %>
          <td> Not available </td>
        <% else %>
          <td><%= Attendance.where(event_id: event.id).count %></td>
        <% end %>
        <td><%= link_to 'Show', event %></td>
        <% if event.user_id == current_user.id %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
      </tr>
      <% end %>
    
    <% end %>
  </tbody>

<% end %>
</table>

<h2 class="text-center text-muted"> Your Past Events </h2>

<table class="table table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
      <th>Attendance expected</th>
      <th colspan="3"></th>
    </tr>
  </thead>

 <tbody>
    
    <% @events.each do |event| %>

    <% if event.date < Time.now %>

      <% if current_user %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <% if Time.now > event.date %>
          <td> Not available </td>
        <% else %>
          <td><%= Attendance.where(event_id: event.id).count %></td>
        <% end %>
        <td><%= link_to 'Show', event %></td>
        <% if event.user_id == current_user.id %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
      </tr>
      <% end %>
    
    <% end %>
  </tbody>

<% end %>
</table>